.dark-mode:root {
  --bg-color: #3b3b3b;
  --bg-color-secondary: #474747;
  --title-color: #f9f9f9;
  --text-color: #e0e0e0;
  --border-color: #f9f9f9;
  --event-button-color: #0d8cff;
  --shadow: rgba(0, 0, 0, 0.2);
}

:root {
  --bg-color: #f9f9f9;
  --bg-color-secondary: #ffffff;
  --title-color: #13181e;
  --text-color: #333;
  --border-color: #13181e;
  --event-button-color: #0000bf;
  --shadow: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p,
button,
h2 {
  font-family: Arial;
}

#container {
  position: relative;
  display: block;
  min-height: 100vh;
  background: var(--bg-color);
  transition: background 0.4s;
}

header {
  position: fixed;
  height: 48px;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 12px var(--shadow);
  background: var(--bg-color);
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

header span {
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--title-color);
  transition: color 0.4s;
}

#change-theme-button {
  padding: 4px 8px;
  box-shadow: 0 0 4px var(--shadow);
  background: var(--bg-color-secondary);
  color: var(--text-color);
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  transition: color 0.2s;
}

main {
  display: flex;
  margin: 0 auto;
  padding: 90px 0px;
  width: 100%;
  max-width: 900px;
}

#feed {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feed-content {
  width: 100%;
  padding: 16px;
  background: var(--bg-color-secondary);
  box-shadow: 2px 2px 12px var(--shadow);
  border-radius: 8px;
}

.feed-content + .feed-content {
  margin-top: 16px;
}

.feed-content h2 {
  color: var(--title-color);
  letter-spacing: 1px;
  transition: color 0.4s;
}

.feed-content p {
  height: 74px;
  margin-top: 16px;
  color: var(--text-color);
  overflow: hidden;
  transition: color 0.4s;
}

.feed-content p.open {
  height: auto;
}

.feed-content button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--event-button-color);
  margin-top: 8px;
  font-size: 16px;

  transition: color 0.4s;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 48px;
  padding: 0 16px;
}

footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-top: 1px solid var(--shadow);
}

footer p {
  text-align: center;
  font-weight: 700;
  color: var(--title-color);
  transition: color 0.4s;
}
