.dark-mode:root {
  --main-bg-color: #332f2e;
  --main-text-color: #e0e0e0;
  --secondary-text-color: #d9d9b9;
  --border-color: #808080;
  --event-button: #0d8cff;
}

:root {
  --main-bg-color: #f9f9f9;
  --main-text-color: #405;
  --secondary-text-color: #222;
  --border-color: #332f2e;
  --event-button: #0000bf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span,
p,
button,
h2 {
  font-family: Arial;
}

body {
  background: var(--main-bg-color);
  transition: background 0.4s;
}

header {
  position: fixed;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  height: 58px;
  top: 0;
  right: 0;
  left: 0;
  background: var(--main-bg-color);
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

#page-header span {
  font-weight: 700;
  color: var(--main-text-color);
  transition: color 0.4s;
}

#change-theme-button {
  padding: 4px 8px;
  background: var(--main-bg-color);
  color: var(--secondary-text-color);
  font-weight: bold;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  outline: none;
  cursor: pointer;

  transition: color 0.2s;
}

main {
  display: flex;
  margin: 90px auto 0;
  padding: 0 16px;
  width: 100%;
  max-width: 900px;
}

#feed {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#feed .feed-content + .feed-content {
  margin-top: 16px;
}

.feed-content {
  padding: 16px;
  height: auto;
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.feed-content h2 {
  color: var(--main-text-color);
  transition: color 0.4s;
}

.feed-content p {
  height: 74px;
  margin-top: 16px;
  color: var(--secondary-text-color);
  overflow: hidden;
  transition: color 0.4s;
}

.feed-content p.open {
  height: auto;
}

.feed-content button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--event-button);
  margin-top: 8px;
  font-size: 16px;

  transition: color 0.4s;
}

footer {
  margin-top: 32px;
  width: 100%;
  border-top: 1px solid var(--border-color);
}

footer div {
  padding: 16px 0;
}

footer p {
  text-align: center;
  font-weight: 700;
  color: var(--main-text-color);
  transition: color 0.4s;
}
